.App {
  width: 100%;
  padding: 20px 20px;
  font-family: monospace !important;
  font-size: 20px;
  font-weight: 400;
}

.bird {
  display: flex;
  align-items: center;
  font-size: 15px;
  gap: 20px;
}

/* .list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  justify-content: space-between;
} */
